doctype 5
html
  head
    title=Testing
    link.theme(rel="stylesheet")
    link(rel='stylesheet', href='/css/style.min.css')
  body(ng-app="app")
    .navbar.navbar-default.navbar-fixed-top(ng-controller="nav")
      .container
        .navbar-header
          a.navbar-brand Angular-Reddit
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse#navbar-main
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown')
                | Theme
                span.caret
              ul.dropdown-menu
                li(ng-repeat="theme in themes")
                  a(tabindex='-1', ng-click="setTheme(theme)") {{theme.name}}
    .container.main(ng-view)
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/js/app.min.js")
    script(src="/vendor/momentjs/moment.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
