doctype 5
html
  head
    title=Testing
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/style.min.css')
  body(ng-app="app")
    .container.main(ng-view)
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/js/app.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
