doctype html
html(ng-app="app", ng-controller="RootCtrl")
  head
    title=Testing
    link.theme(rel="stylesheet")
    link(rel="stylesheet", ng-href="/static/css/bootstrap-themes/{{ themeName.toLowerCase() }}.min.css")
    link(rel='stylesheet', href='/static/css/style.css')
  body(id="{{ themeName }}")
    .navbar.navbar-default.navbar-fixed-top
      .container
        .row
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-collapse.collapse#navbar-main
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown')
                  | Theme
                  span.caret
                ul.dropdown-menu
                  li(ng-repeat="theme in themes")
                    a(tabindex='-1', ng-click="setTheme($index)") {{ theme }}
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown')
                  | Places
                  span.caret
                ul.dropdown-menu
                  li(ng-repeat="p in places")
                    a(tabindex='-1', ng-href="{{ p.path }}") {{ p.name }}
    .container.main
      .loading(ng-show="loading")
        img(src="/static/images/loading.gif")
      div(ui-view, ng-show="!loading")
    //bower:js
    //endbower
    script(src="/static/js/app.js")
